* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

nav {
  background: #fff;
}

.nav-wrapper {
  height: 10vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 3rem;
  font-family: fantasy;
}

/* LINKS SECTION */
.links-section {
  height: 10vh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link {
  height: 10vh;
  display: flex;
  align-items: center;
}

.link img {
  height: 24px;
  width: 24px;
  margin-right: 1rem;
}

.link p {
  cursor: pointer;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #525252;
}

.link p:hover {
  color: #000000;
}

/* COLOR ICON SECTION */
.color-icon-section {
  height: 10vh;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.color-icon-section img {
  height: 28px;
  width: 28px;
  cursor: pointer;
}

/* SEARCH BAR */
.search-bar {
  height: 10vh;
  width: 20%;
  display: flex;
  align-items: center;
}

.search-bar > input {
  height: 50%;
  width: 100%;
  position: relative;
  background: #f7f8f9;
  border: none;
  border-radius: 3rem;
  padding-left: 2rem;
  color: #b1b1b1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.search-bar > img {
  position: absolute;
  top: 2.9%;
  right: 3%;
  height: 28px;
  width: 28px;
}

/* MAIN STYLE */
main {
  height: 90vh;
  width: 100%;
  background: #f7f8f9;
}

/* LEFT SIDE NAVBAR DESIGN */

.left-side-nav-section {
  height: 90vh;
  width: 20rem;
  background: gold;
  display: flex;
  flex-direction: column;
}

.author-box {
  margin: 8rem 1rem 2rem 1rem;
  height: 10rem;
  width: 18rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
}

.infos {
  height: 100%;
  width: 70%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.infos > img {
  height: 42px;
  width: 42px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.infos p {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* SETTINGS SECTION */
.settings {
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* CATEGORY BOX */
